.vscode/*
.DS_Store
demo/
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-58077fd8a13da1b6ac24.json
build/.cmake/api/v1/reply/cmakeFiles-v1-ed9aebc5fbb6fce66bdd.json
build/.cmake/api/v1/reply/codemodel-v2-3409a4d8adffa11b51f0.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-06-25T02-42-13-0367.json
build/.cmake/api/v1/reply/target-Compilerlab2-Debug-60245de2b7aaef8ad876.json
build/.cmake/api/v1/reply/target-GenerateLexer-Debug-12c2f908162308b18ba8.json
build/.cmake/api/v1/reply/toolchains-v1-1305dd7beb8d2a4c478d.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.27.9/CMakeCCompiler.cmake
build/CMakeFiles/3.27.9/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.9/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.9/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.9/CMakeSystem.cmake
build/CMakeFiles/3.27.9/CompilerIdC/a.out
build/CMakeFiles/3.27.9/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.9/CompilerIdCXX/a.out
build/CMakeFiles/3.27.9/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/compile_commands.json
build/debug.log
build/lex.yy.cpp
build/lex.yy.o
build/sign_table.o
build/tcc
build/test_sign_table
build/test_sign_table.o
build/y.output
build/y.tab.c
build/y.tab.cpp
build/lex.yy.cpp
build/lex.yy.o
build/sign_table.o
build/y.output
build/y.tab.c
build/y.tab.o
build/y.tab.hpp
build/y.tab.h
build/y.tab.c
build/y.output
build/sign_table.o
build/lex.yy.o
build/lex.yy.cpp
